aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aioitertools
aiosignal==1.4.0
annotated-doc
annotated-types
anyio
appnope==0.1.4
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.4.0
ase
asttokens
async-lru==2.0.5
attrs
babel==2.17.0
backports.cached-property==1.0.2
backports.zstd
bcrypt
beautifulsoup4==4.14.3
bibtexparser
blake3
bleach==6.3.0
blinker
boltons
boto3
botocore
bravado
bravado-core
Brotli
cachetools
certifi
cffi
charset-normalizer
chgnet
click
colorama
comm==0.2.3
contourpy
cryptography
cycler
Cython
debugpy==1.8.19
decorator
defusedxml==0.7.1
dnspython
email-validator
emmet-core
exceptiongroup
executing
fastapi
fastapi-cli
fastjsonschema==2.21.2
filelock
filetype
Flask
flatten-dict
flexcache
flexparser
fonttools
fqdn==1.5.1
frozenlist==1.8.0
fsspec==2024.2.0
future
gmpy2
h11
h2
hpack
httpcore
httptools
httpx
hyperframe
idna
importlib_metadata
importlib_resources
invoke
ipykernel==7.1.0
ipython
ipython_pygments_lexers
ipywidgets==8.1.8
isoduration==20.11.0
itsdangerous
jedi
Jinja2
jmespath
joblib
json2html
json5==0.12.1
jsonlines
jsonpointer==3.0.0
jsonref
jsonschema
jsonschema-specifications
jupyter-events==0.12.0
jupyter-lsp==2.3.0
jupyter_client==8.7.0
jupyter_core==5.9.1
jupyter_server==2.17.0
jupyter_server_terminals==0.5.3
jupyterlab==4.5.1
jupyterlab_pygments==0.3.0
jupyterlab_server==2.28.0
jupyterlab_widgets==3.0.16
kiwisolver
latexcodec
loguru==0.7.3
lxml
maggma
markdown-it-py
MarkupSafe
matminer
matplotlib==3.10.8
matplotlib-inline
mdurl
mistune==3.1.4
mlx==0.30.1
mlx-graphs==0.0.8
mlx-metal==0.30.1
moffragmentor==0.0.6
mongogrant
mongomock
monotonic
monty
more-itertools==10.8.0
mp-api
mpcontribs-client
mpmath
msgpack
multidict==6.7.0
munkres==1.1.4
narwhals
nbclient==0.10.3
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
networkx
nglview==4.0
notebook==7.5.1
notebook_shim==0.2.4
numpy==1.26.3
nvidia-ml-py3==7.352.0
optree
orjson
packaging
palettable
pandas
pandocfilters==1.5.1
paramiko
parso
pathlib2
patsy
pexpect
pillow
Pint
platformdirs
plotly
prometheus_client==0.23.1
prompt_toolkit
propcache==0.4.1
psutil==7.1.3
ptyprocess
PubChemPy==1.0.5
pure_eval
pybind11
pybind11-global
pybtex
pycparser
pydantic
pydantic-settings
pydantic_core
pydash
Pygments
pyIsEmail==1.3.2
pymatgen
pymatgen-io-validation
pymongo
PyNaCl
pyparsing
PySocks
python-dateutil
python-dotenv
python-json-logger==4.0.0
python-multipart
pytz
PyYAML
pyzmq
rdkit==2025.9.3
referencing
requests==2.31.0
requests-futures
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rich
rich-toolkit
rpds-py
ruamel.yaml
ruamel.yaml.clib
s3transfer
scikit-learn
scikit-spatial==9.0.1
scipy
seaborn
semantic-version
Send2Trash==1.8.3
sentinels==1.0.0
setuptools==80.9.0
shellingham
simplejson
six
smart_open
sniffio
soupsieve==2.8.1
spglib
sshtunnel
stack_data
starlette
statsmodels
structuregraph-helpers==0.0.9
swagger-spec-validator
sympy
tabulate
terminado==0.18.1
threadpoolctl
timeout-decorator==0.5.0
tinycss2==1.4.0
tomli
torch
torch-geometric==2.7.0
tornado==6.5.4
tqdm==4.66.3
traitlets
typer==0.20.0
typer-slim==0.20.0
typing-inspection
typing_extensions
tzdata
ujson
uncertainties
uri-template==1.3.0
urllib3
uvicorn
uvloop
watchfiles
wcwidth
webcolors==25.10.0
webencodings==0.5.1
websocket-client==1.9.0
websockets
Werkzeug
widgetsnbextension==4.0.15
wrapt
xgboost
xxhash==3.6.0
yarl==1.22.0
zipp
